<p>
  <a href="{{site.wvu_site}}">WVU Research Computing</a>
  is a team part of "<a href="https://research.wvu.edu">WVU Research Office</a>"
  with the mission of promoting High-Performance Computing (HPC) in research across all domains where WVU is actively conducting research.
  WVU Research Computing manages several research infrastructures, including three HPC clusters used by faculty, students, and academic staff across campus.
</p>
<p>
Our annual summer workshop offers our users the basic concepts and skills
necessary to benefit the most from our HPC facilities.
</p>
<p>
In our 2025 version of the summer workshop, we have divided the topics into four lectures and a total of 8 episodes. Each episode will be of one hour divided into 2 microsessions of 20 minutes and 10 minutes of exercises.
</p>
<p>
We will cover the basic skills that any user needs to use properly in an HPC cluster.
We start explaining the main concepts in Supercomputing, the different components of an HPC cluster, and other concepts needed to understand the topics of the rest of the material.
</p>
<p>
Most new users are unfamiliar with Unix/Linux operating systems, so we introduced terminals, command line interfaces, and text editors. From that foundation, we continue with essential topics specific to HPC, such as how to access the different software used in the computers and the resource manager (Slurm), the tool that allows you to execute jobs on one or several computers on the cluster. We also introduce <code>tmux</code>, a terminal multiplexer that is a convenient tool for working seriously on HPC clusters. 
</p>


<hr width="100%" size="2" color="blue" noshade>

