<p>
  <a href="{{site.wvu_site}}">WVU Research Computing</a>
  is a team part of "<a href="https://research.wvu.edu">WVU Research Office</a>"
  with the mission of promoting High-Performance Computing (HPC) in research across all knowledge domains.
  WVU Research Computing manages several research infrastructures, including three HPC clusters used by faculty, students, and academic staff across campus.

  Our annual summer workshop offers our users the basic concepts and skills
  necessary to benefit the most from our HPC facilities.
  How our users utilize the HPC clusters varies with the diversity of research that uses HPC resources today.
  In our workshop, we presented the most beneficial topics for many users.

  On this occasion, we will present the materials with a soft focus on machine learning and deep learning. However, regardless of whether the examples are inspired in these areas, the skills can be translated into all areas of knowledge. Machine Learning and Deep Learning are widely used in many domains, and a basic understanding of the techniques can be acquired with few mathematical prerequisites. 
