<p>
  <a href="{{site.wvu_site}}">WVU Research Computing</a>
  is a team part of "<a href="https://research.wvu.edu">WVU Research Office</a>"
  with the mission of promoting High-Performance Computing (HPC) in research across all domains where WVU is actively conducting research.
  WVU Research Computing manages several research infrastructures, including three HPC clusters used by faculty, students, and academic staff across campus.
</p>
<p>
Our annual summer workshop offers our users the basic concepts and skills
necessary to benefit the most from our HPC facilities.
</p>
<p>
In our 2024 version of the summer workshop, we have divided the topics into a major morning workshop and two-afternoon mini-workshops. These workshops are independent; you can choose which to attend according to your interests.
</p>
<p>
<strong>Morning Sessions:</strong> In the main workshop, we will cover the basic skills that any user needs to use properly in an HPC cluster.
We start explaining the main concepts in Supercomputing, the different components of an HPC cluster, and other concepts needed to understand the topics of the rest of the material.
</p>
<p>
Most new users are unfamiliar with Unix/Linux operating systems, so we introduced terminals, command line interfaces, and text editors. From that foundation, we continue with essential topics specific to HPC, such as how to access the different software used in the computers and the resource manager (Slurm), the tool that allows you to execute jobs on one or several computers on the cluster. We also introduce <code>tmux</code>, a terminal multiplexer that is a convenient tool for working seriously on HPC clusters. 
</p>
<p>
We conclude on the fourth day of the workshop with a quick introduction to Machine Learning. 
Artificial Intelligence and, more specifically, Machine Learning offer computational techniques that are now widely used to solve challenging problems in all areas of science. As these methods are not restricted to a single science, they also illustrate how an HPC cluster can be a powerful tool in research when you acquire the skills to use an HPC cluster effectively.
</p>
<p>
<strong>Python Scripting for HPC:</strong> The first mini-workshop will explore using Python as a powerful scripting language. We introduce the language basics, focusing on solving users' usual situations when working with HPC clusters.
Python is also a powerful programming language. We mention some elements in that direction, but in general, the programs we use for demonstration will remain small and targeted to simple use cases.
</p>
<p>
<strong>Partial Differential Equations:</strong> The second mini-workshop will explore the application of HPC systems to approximate solutions to the equations governing fluid dynamics, general relativity, and electromagnetism using ANSYS Fluent and the Einstein Toolkit. The focus will be on using the cluster to carry out scientific investigations. It is unnecessary to have pre-existing knowledge of these physical principles or the underlying mathematics; however, basic coding skills are recommended.
</p>

<hr width="100%" size="2" color="blue" noshade>

