<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Morning)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/01-introduction/index.html">Introduction to Supercomputing</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/02-cli/index.html">Command Line Interface</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 1 (Afternoon)</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/11-python/index.html">Python Programming 1</a></td> </tr>
      <tr> <td>16:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 2 (Morning)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/04-editors/index.html">Terminal-based Text Editors</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/05-software/index.html">Software (modules, conda and singularity) </a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Afternoon)</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/12-python/index.html">Python Programming 2</a></td> </tr>
      <tr> <td>16:00</td>  <td>END Miniworkshop</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (Morning)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/07-slurm/index.html">Workload Management (Slurm)</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/08-tmux/index.html">Terminal Multiplexing (tmux)</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 (Afternoon)</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/21-pde/index.html">Partial Differential Equations (CFD)</a></td> </tr>
      <tr> <td>16:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 4 (Morning)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/10-machine_learning/index.html">Machine Learning (scikit-learn and spark)</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/11-deep_learning/index.html">Deep Learning (tensorflow and pytorch)</a></td> </tr>
      <tr> <td>12:00</td>  <td>END Workshop</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (Afternoon)</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://wvuhpc.github.io/Introduction-HPC/22-pde/index.html">Partial Differential Equations (Relativistic)</a></td> </tr>
      <tr> <td>16:00</td>  <td>END Miniworkshop</td> </tr>
    </table>
  </div>
</div>
