<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (August 18, 2025)</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/101-supercomputing.html">Introduction to Supercomputing</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/102-first-job.html">The Life Cycle of a Job</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 2 (August 21, 2025)</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/201-cli.html">Command Line Interface</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/202-editors.html">Terminal-based Text Editors</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (August 25, 2025)</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/301-data-transfer.html">Data Transfer: Globus</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/302-slurm.html">Workload Management Slurm</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 4 (August 28, 2025)</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/401-software.html">Software: (modules, conda and singularity)</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/2025-Introduction-HPC/402-tmux.html">Terminal Multiplexing: tmux</a></td> </tr>
      <tr> <td>12:00</td>  <td>END Workshop</td> </tr>
    </table>
  </div>
</div>
